<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab4">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label color="dark">Registro Prod.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label color="dark">Registro Per.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6" (click)="getAll()">
      <ion-icon name="server-outline"></ion-icon>
      <ion-label color="dark">Conusltas.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab7">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label color="dark">Eliminaciion.</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
