#register{
    position: relative;
    top: 25%;
    width: 90%;
    height:300px;
    margin: auto;
    box-shadow: 30px -30px rgba(0, 0, 0, 0.151)
}
.button_add{
    width: 100%;
    --background: rgb(31, 77, 204);
}

.register_input{
    --background: white;
    --color: black;
    font-size: 20px;
}

.register_input_plus{
    --background: white;
    --color: black;
    font-size: 20px;

}

.register_input_plus_plus{
    --background: white;
    --color: black;
    font-size: 20px;
    border-bottom-left-radius: 50px;
}