<ion-header>
  <ion-toolbar>
    <ion-title>Registro Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id=register>
    <form #frmUsuario="ngForm" (ngSubmit)="onRegister(frmUsuario)">
      <ion-item class="register_input_plus">
        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input type="text" name="strNombreUsuario" placeholder="Danos tu nombre" ngModel required></ion-input>
      </ion-item>
    
      <ion-item class="register_input">
        <ion-label position="stacked">Tipo de usuario</ion-label>
        <ion-input type="text" name="strTipoUsuario" placeholder="Danos tu nombre" ngModel required></ion-input>
      </ion-item>
    
      <ion-item class="register_input">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="text" name="strPassword" placeholder="Danos tu nombre" ngModel required></ion-input>
      </ion-item>

      <ion-button class="button_add" type="submit"><ion-icon name="add-outline"></ion-icon></ion-button>
  </form>
  </div>
</ion-content>
