<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido {{usuarioS.usuarioNombre}} 
      <ion-button (click)="logout()" id='logout'>Logout</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id=register>
    <form #frmProdAd="ngForm" (ngSubmit)="onRegister(frmProdAd)">
      <ion-item class="register_input_plus">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input  type="text" name="strNombre" placeholder="Nombre del producto" ngModel required></ion-input>
      </ion-item>
    
      <ion-item class="register_input">
        <ion-label position="stacked">Cantidad</ion-label>
        <ion-input  type="number" name="nmbExistencia" placeholder="Cuantos son" ngModel required></ion-input>
      </ion-item>
    
      <ion-item class="register_input">
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number" name="nmbPrecio" placeholder="Precio del producto" ngModel required></ion-input>
      </ion-item>

      <ion-item class="register_input_plus">
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-input  type="text" name="strDescripcion" placeholder="Descripcion" ngModel required></ion-input>
      </ion-item>

      <!-- <ion-item class="register_input_plus_plus">
        <ion-label position="fixed">imagen</ion-label>
        <ion-input></ion-input>
      </ion-item> -->

      <ion-button class="button_add" type="submit"><ion-icon name="add-outline"></ion-icon></ion-button>
  </form>
  </div>
</ion-content>
